{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="card card-primary">
  <div class="card-header">
    <div class="card-title">
      {% if request.resolver_match.url_name == 'cadastrar_usuario' %} 
        Cadastro de usuário
      {% else %}
        Edição de usuário
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form_usuario %}
      <button class="btn btn-primary" type="submit">Salvar</button>
    </form>
  </div>
</div>
{% endblock content %}

<!-- <div class="form-group">
  {# Renderiza o campo 'username' do formulário 'form_usuario' usando o Bootstrap #}
  {% bootstrap_field form_usuario.username %}
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      {# Renderiza o campo 'password1' do formulário 'form_usuario' usando o Bootstrap #}
      {% bootstrap_field form_usuario.password1 %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      {# Renderiza o campo 'password2' do formulário 'form_usuario' usando o Bootstrap #}
      {% bootstrap_field form_usuario.password2 %}
    </div>
  </div>
</div>
<div class="form-group">
  {# Renderiza o campo 'first_name' do formulário 'form_usuario' usando o Bootstrap #}
  {% bootstrap_field form_usuario.first_name %}
</div>
<div class="form-group">
  {# Renderiza o campo 'email' do formulário 'form_usuario' usando o Bootstrap #}
  {% bootstrap_field form_usuario.email %}
</div> -->